# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/.next/
/out/

# misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# environment variables
.env*
!.env.example

# vercel
.vercel

# nested repos (prevent embedding another git repo)
/abyk
/halivas.invoice

# editor
.vscode/
.idea/
